@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  body,
  p,
  figure {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }
  
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  
  p,
  li {
    text-wrap: pretty;
  }
  
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  body {
    min-height: 100vh;
    line-height: 1.5;
  }
  
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
  
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }  
}

@layer components {
  header {
    background-color: #ffff;
    border: 0.2px solid var(--clr-khaki-500);
    border-radius: 4px;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & .logo {
      width: 100px;
    }

    & nav > ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      & a {
        font-weight: var(--fw-extra-light);
        text-decoration: none;
        color: var(--clr-text-dark);
      }
    }
  }
}

@layer layout {
  .wrapper {
    max-width: 80%;
    margin-inline: auto;
  }
  
  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    gap: 1rem;
  }

  .about-copy > p {
    width: 55ch;
  }

}
:root {
/* primitive */
  --clr-chesnut-500: #9f3e2d;
  --clr-khaki-500: #b3a488;
  --clr-tea-rose-500: #ebbeb6;
  --clr-white-500: #fefefb;
  --clr-black-500: #0c0403;

/* @link https://utopia.fyi/type/calculator?c=320,16,1.5,1240,18,1.5,3,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --ff-heading: "Inter", serif;
  --ff-body: "Inter", serif;

  --fw-extra-light: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
  
  /* Step 0: 16px → 18px */
  --fs-small: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  /* Step 1: 24px → 27px */
  --fs-medium: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  /* Step 2: 36px → 40.5px */
  --fs-large: clamp(2.25rem, 2.1522rem + 0.4891vw, 2.5313rem);
  /* Step 3: 54px → 60.75px */
  --fs-extra-large: clamp(3.375rem, 3.2283rem + 0.7337vw, 3.7969rem);

/* semantic */
  --clr-primary: var(--clr-chesnut-500);
  --clr-secondary: var(--clr-khaki-500);
  --clr-accent: var(--clr-tea-rose-500);
  --clr-text-light: var(--clr-white-500);
  --clr-text-dark: var(--clr-black-500);
}

html {
  background-color: var(--clr-white-500);
}
h1, h2, h3, h4 {
  font-family: var(--ff-heading);
  color: var(--clr-text-dark);
  font-weight: 800;
}
h1 {
  font-size: var(--fs-extra-large);
}
h2 {
  font-size: var(--fs-large);
}
h3, h4 {
  font-size: var(--fs-medium);
}
a {
  font-family: var(--ff-body);
  font-size: var(--fs-small);
  line-height: 1.1;
}
p {
  font-family: var(--ff-body);
  font-size: var(--fs-small);
  line-height: 1.4;
}
img {
  border-radius: 8px;
}
.word-highlight {
  background: linear-gradient(to right, var(--clr-primary), var(--clr-accent));
  background-clip: text;
  color: transparent;
}
