@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  body,
  p,
  figure {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }
  
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }
  
  p,
  li {
    text-wrap: pretty;
  }
  
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  body {
    min-height: 100vh;
    line-height: 1.5;
  }
  
  input,
  button,
  textarea,
  select {
    font-family: inherit;
    font-size: inherit;
  }
  
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  img,
  picture {
    max-width: 100%;
    display: block;
  }  
}

:root {
  --clr-primary-500: #9f3e2d;
  --clr-secondary-500: #b3a488;
  --clr-accent-500: #ebbeb6;
  --clr-white-500: #fefefb;
  --clr-black-500: #0c0403;
}
